body {
        font: 24px Helvetica;
        background: #fff;

    }

    #main {
        min-height: auto;
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-flow: row;
    }
 
    #main > article {
        margin: 4px;
        padding: 5px;
        /*border: 1px solid #cccc33;
        border-radius: 7pt;*/
        flex: 3 1 100%;
        order: 2;
    }

    #main > .navside {
        margin: 4px;
        padding: 5px;
        /*border: 1px solid #8888bb;
        border-radius: 7pt;
        background: #ccccff;*/
        flex: 1 6 10%;
        order: 1;
    }
  
    #main > aside {
        margin: 4px;
        padding: 5px;
        /*border: 1px solid #8888bb;
        border-radius: 7pt;
        background: #ccccff;*/
        flex: 1 6 10%;
        order: 3;
    }
 
    header, footer {
        display: block;
        margin: 0px;
        padding: 0px;
        min-height: 0px;
        /*border: 1px solid #eebb55;
        border-radius: 7pt;
        background: #ffeebb;*/
    }
 
    /* Too narrow to support three columns */
    @media all and (max-width: 640px) {
        #main, #page {
            flex-direction: column;
        }

        #main > article, #main > .navside, #main > aside {
        /* Return them to document order */
            order: 0;
        }
  
        #main > .navside, #main > aside, header, footer {
            min-height: 50px;
            max-height: 50px;
        }
    }